node_modules
client/public/vendor

.DS_Store
.sass-cache/*

config/env/development.json
config/env/test.json
config/env/production.json

client/app/config/settings.json
client/app/config/env.settings.js