.stage-task {

    .content-block {
        padding: 0;
        
        p {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }

        &.task-attrs {
                text-align: center;

            span.attribute {
                display: inline-block;
                padding: 0.25rem 0.4rem;

                font-size: 75%;
                line-height: 1;
                white-space: nowrap;
                vertical-align: baseline;                
                border-radius: 0.25rem;
                color: white;
            }

            span.attribute.developer {
                color: $text-base;
                border: $border-light;
            }
        }
    }    
    
    .card-title {
        margin-bottom: 0.5rem;
    }
    
    .card-link {
        display: block;

        padding: 0.5rem;
        margin-top: 0.5rem;

        text-align: center;
        border-top: $border-lighter;
        background-color: $bg-light;
        color: $warning-color;
    }    
}