#NewTask, #ShowTask {
    h2 {
        margin-bottom: 2rem;
    }
}

#ShowTask {
    
    h2 {
        margin-bottom: 1rem;

        small > a {
            color: $text-gray;

            &:hover,
            &:focus {
                text-decoration: none;
                color: lighten($text-gray, 10%);
            }
        }
    }

    .main-info {
        padding-top: 1rem;
        padding-bottom: 1rem;

        border-top: $border-lighter;
        border-bottom: $border-lighter;        
    }

    .gitlab-label-user,
    .gitlab-label-info {
        display: block;
        padding: .375rem .75rem;
        
        border-radius: .25rem;
        line-height: 1.5;
        text-align: center;

        font-size: 1rem;
        font-weight: 600;

        color: #ffffff;

        &.empty {
            color: $text-base;
            font-weight: 500;

            border: $border-light;
        }
    }

    .gitlab-label-user { 
        font-weight: 500;

        color: $text-base;
        border: $border-light;

        &:hover {
            cursor: pointer;
        }
    }

    .actions {
        margin-top: 3rem;

        .gitlab-label-action {
            display: block;        
        }
    }    
}