#NewTask, #ShowTask {
    h2 {
        margin-bottom: 2rem;
    }
}

#ShowTask {
    
    h2 {
        margin-bottom: 1rem;

        small > a {
            color: $text-gray;

            &:hover,
            &:focus {
                text-decoration: none;
                color: lighten($text-gray, 10%);
            }
        }
    }

    .main-info {
        padding-top: 1rem;
        padding-bottom: 1rem;

        border-top: $border-lighter;
        border-bottom: $border-lighter;        
    }

    .gitlab-label-user,
    .gitlab-label-info {
        display: block;
        padding: .375rem .75rem;
        
        border-radius: .25rem;
        line-height: 1.5;
        text-align: center;

        font-size: 1rem;
        font-weight: 600;

        color: #ffffff;

        &.empty {
            color: $text-base;
            font-weight: 500;

            border: $border-light;
        }
    }

    .gitlab-label-user { 
        font-weight: 500;

        color: $text-base;
        border: $border-light;

        &:hover {
            cursor: pointer;
        }
    }

    .actions {
        margin-top: 3rem;

        .gitlab-label-action {
            margin-bottom: 1rem;
            display: block;
        }
    }    
}

#TaskList {
    margin-top: -20px;

    .action-bar {
        margin-bottom: 1rem;
    }

    .task-filters {        

        form {            
            margin-bottom: 0;
            padding: 1rem;
        }

        button {
            margin-left: 2rem;
        }
    }

    .task-items {        

        h4 {
            display: inline-block;
            margin: 0;

            font-size: 1.25rem;
            
            a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: none;
                    color: inherit;
                }
            }            
        }

        .task-item {
            margin-top: 1rem;            

            border: $border-light;
            border-radius: .25rem;            

            &:first-child {
                margin-top: 0;
            }
        }

        .card-header {
            cursor: pointer;

            .fa-edit {

                &:hover {
                    color: $warning-color;
                }
            }

            span.attribute {
                display: inline-block;
                padding: 0.25rem 0.4rem;

                font-size: 75%;
                line-height: 1;
                white-space: nowrap;
                vertical-align: baseline;                
                border-radius: 0.25rem;
                color: white;
            }

            span.attribute.developer {
                color: $text-base;
                border: $border-light;
            }
        }    

        .card-block {
            padding: 1rem;
        }    
    }
}