<div id="Register" class="row">        
    <div class="col-md-4 col-md-offset-4">

        <form class="">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" ng-model="regData.name">                
            </div>

            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="text" class="form-control" ng-model="regData.email">
                
            </div>

            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" class="form-control" ng-model="regData.password">                
            </div>

            <div class="form-group text-center">
                <button class="btn btn-lg btn-primary" ng-click="register()">Register</button>
            </div>        
        </form>

    </div>    
</div>