<div id="ShowTask" class="container">
    <h2 class="">Task <small class="text-muted">{{board.name}}</small></h2>

    <div class="row">
        <div class="col-sm-8">
            
            <form role="form">
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input class="form-control" type="text" ng-model="task.title">
                </div>

                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" rows="6" ng-model="task.description"></textarea>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-lg btn-danger" type="button" ng-click="delete()">Delete</button>
                    <button class="btn btn-lg btn-success" type="button" ng-click="update()">Update</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            
            <form role="form">
                <div class="form-group">
                    <label class="control-label">Priority</label>
                    <span class="gitlab-label-info" ng-style="{ 'background-color': task.priority.color }">{{task.priority.name}}</span>
                </div>

                <div class="form-group">
                    <label class="control-label">Size</label>
                    <span class="gitlab-label-info" ng-show="task.size" ng-style="{ 'background-color': task.size.color }">{{task.size.name}}</span>
                    <span class="gitlab-label-info empty" ng-hide="task.size">None</span>
                </div>

                <div class="form-group">
                    <label class="control-label">Stage</label>
                    <span class="gitlab-label-info" ng-style="{ 'background-color': task.stage.color }">{{task.stage.name}}</span>
                </div>

                <div class="form-group">
                    <label class="control-label">Developer</label>
                    <button class="btn btn-secondary">None</button>
                </div>

                <div class="form-group">
                    <label class="control-label">Owner</label>
                    
                </div>
            </form>

        </div>
    </div>

</div>