<div id="TaskList">

    <div class="action-bar">
        <div class="collapse task-filters">
            <div class="bg-inverse p-a">
                <form class="form-inline">
                    <div class="form-group">
                        <select class="form-control c-select" ng-options="board as board.name for board in filters.boards track by board._id" ng-model="filters.board" ng-style="{ 'border-color': task.priority.color }">
                            <option value>All Boards</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control c-select" ng-model="filters.status" ng-style="{ 'border-color': task.priority.color }">
                            <option value>All Statuses</option>
                            <option value="active">Active</option>
                            <option value="completed">Completed</option>
                            <option value="closed">Closed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control c-select" ng-options="stage for stage in filters.stages track by stage" ng-model="filters.stage" ng-style="{ 'border-color': task.priority.color }">
                            <option value>All Stages</option>                            
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control c-select" ng-options="priority for priority in filters.priorities track by priority" ng-model="filters.priority" ng-style="{ 'border-color': task.priority.color }">
                            <option value>All Priorities</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control c-select" ng-options="size for size in filters.sizes track by size" ng-model="filters.size" ng-style="{ 'border-color': filters.priority.color }">
                            <option value>All Sizes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-warning" ng-click="clearFilters()">Clear Filters</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="applyFilters()">Apply Filters</button>
                    </div>                    
                </form>
            </div>
        </div>
        <nav class="navbar navbar-nav board-actions">
            <button class="navbar-toggler pull-left" type="button" data-toggle="collapse" data-target=".task-filters">&#9776; {{tasks.length}} Tasks</button>            
        </nav>
    </div>

    <div class="results container-fluid">
        <div class="col-sm-4">
            <div class="attr-counts">                
                <div ng-repeat="(attr, filters) in counts" class="count-group" ng-style="{ 'border-color': getAttrColor(attr) }">
                    <label>{{attr}}</label>
                    <p>
                        <span ng-repeat="(label, count) in filters" class="count"><strong>{{count}}</strong>{{label}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <task-list tasks="tasks" editable="isAdmin"/>
        </div>
    </div>
</div>