<div id="EditTask" class="container">
    <h2 class="">Task <small class="text-muted">{{board.name}}</small></h2>

    <div class="row">
        <div class="col-sm-8">
            
            <form role="form">
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input class="form-control" type="text" ng-model="task.title">
                </div>

                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" rows="6" ng-model="task.description"></textarea>
                </div>
            </form>

        </div>
        <div class="col-sm-4">
            
            <form role="form">
                <div class="form-group">
                    <label class="control-label">Stage</label>
                    <select class="form-control c-select" ng-options="stage as stage.name for stage in board.stages track by stage.serverName" ng-model="task.stage">
                        <option value>Pending</option>
                    </select>
                </div>

                <!-- <div class="form-group">
                    <label class="control-label">Priority</label>
                    <select class="form-control c-select" ng-options="" ng-model="">
                        <option value>None</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Size</label>
                    <select class="form-control c-select" ng-options="" ng-model="">
                        <option value>None</option>
                    </select>
                </div> -->

                <div class="form-group">
                    <label class="control-label">Developer</label>
                    <select class="form-control c-select" ng-options="dev as dev.name for dev in board.developers track by dev._id" ng-model="task.developer">
                        <option value>None</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Owner</label>
                    <select class="form-control c-select" ng-options="owner as owner.name for owner in users track by owner._id" ng-model="task.owner">
                        <option value>None</option>
                    </select>
                </div>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-sm-6 text-center"><button class="btn btn-lg btn-danger" type="button" ng-click="delete()">Delete</button></div>
            <div class="col-sm-6 text-center"><button class="btn btn-lg btn-success" type="button" ng-click="update()">Update</button></div>                    
        </div>
    </div>

</div>