<div id="ShowTask" class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="">{{task.title}} 
                <small class="text-muted" ng-show="task.issue">Task #{{task.issue.iid}}</small>
                <small class="text-muted" ng-hide="task.issue">Backlog Item</small>
            </h2>

            <div class="main-info">                
                <div marked="task.description"></div>
            </div>
        </div>
        <div class="col-sm-4">
            
            <form role="form">
                <div class="form-group">
                    <label class="control-label">Stage</label>
                    <span class="gitlab-label-info" ng-show="task.stage" ng-style="{ 'background-color': task.stage.color }">{{task.stage.name}}</span>
                    <span class="gitlab-label-info empty" ng-hide="task.stage">None</span>
                </div>

                <div class="form-group">
                    <label class="control-label">Size</label>
                    <span class="gitlab-label-info" ng-show="task.size" ng-style="{ 'background-color': task.size.color }">{{task.size.name}}</span>
                    <span class="gitlab-label-info empty" ng-hide="task.size">None</span>
                </div>

                <div class="form-group">
                    <label class="control-label">Priority</label>
                    <span class="gitlab-label-info" ng-style="{ 'background-color': task.priority.color }">{{task.priority.name}}</span>
                    <span class="gitlab-label-info empty" ng-hide="task.priority">None</span>
                </div>                

                <div class="form-group">
                    <label class="control-label">Developer</label>
                    <a class="gitlab-label-user" href="mailto:{{task.developer.email}}?subject=Spreeboard Task: {{task.issue.iid}}" ng-show="task.developer">{{task.developer.name}}</a>
                    <span class="gitlab-label-user empty" ng-hide="task.developer">None</span>
                </div>

                <div class="form-group">
                    <label class="control-label">Owner</label>
                    <a class="gitlab-label-user" href="mailto:{{task.owner.email}}?subject=Spreeboard Task: {{task.issue.iid}}" ng-show="task.owner">{{task.owner.name}}</a>
                    <span class="gitlab-label-user empty" ng-hide="task.owner">None</span>                    
                </div>

                <div class="form-group actions" ng-show="isDeveloper">
                    <a href="" class="btn btn-success-outline gitlab-label-action" ng-click="complete()">Completed</a>
                    <a href="#/boards/{{task.board}}/tasks/{{task._id}}/edit" class="btn btn-secondary-outline gitlab-label-action">Edit</a>
                </div>
            </form>

        </div>
    </div>

</div>