$bg-inverse: #373a3c;
$bg-light: #f7f7f9;
$bg-muted: #eceeef;

$text-base: #55595c;

$border-lighter: .0625rem solid #e5e5e5;
$border-light: .0625rem solid #ccc;

$primary-color: #0275d8;
$success-color: #5cb85c;
$warning-color: #f0ad4e;
$danger-color: #d9534f;