<div id="Board" class="board">
            
    <div class="collapse board-filters">
        <div class="bg-inverse p-a">
            <h4>Filters</h4>
            <span class="text-muted">Here is were you will be able to filter your shit...eventually.</span>
        </div>
    </div>
    <nav class="navbar navbar-nav board-actions">        
        <button class="navbar-toggler pull-left" type="button" data-toggle="collapse" data-target=".board-filters">&#9776; {{board.name}}</button>        
        <div class="action pull-right">
            <a href="#/boards/{{board._id}}/backlog" class="btn btn-secondary">({{backlog}}) Backlog</i></a>
        </div>
        <div class="pull-right action" ng-show="isAdmin">
            <a href="#/boards/{{board._id}}/settings" class="btn btn-secondary"><i class="fa fa-cog"></i></a>
        </div>
        <div class="dropdown pull-right action" ng-show="isAdmin || isOwner">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="add-dropdown" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-plus text-success"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="add-dropdown">
                <a class="dropdown-item" href="#/boards/{{board._id}}/tasks/new">Task</a>
            </div>
        </div>            
    </nav>


    <div class="stages">
        
        <div class="stage" ng-repeat="s in board.stages">
            <h4 class="stage-header">{{s.name}}</h4>
            
            <div class="stage-tasks">
                        
                <div class="stage-task card" ng-repeat="t in s.tasks">
                    <div class="card-block header-block">
                        <h4 class="card-title">{{t.title}}</h4>
                    </div>
                    <div class="content-block">
                        <p class="card-text">{{ t.description | stripMarkdown | cut:true:50:'...' }}</p>
                    </div>
                    <div class="content-block card-actions">
                        <a class="card-link" href="#/boards/{{board._id}}/tasks/{{t._id}}">More</a>
                    </div>
                </div>            
            
            </div>

        </div>
    
    </div>

</div>